<div>   
          <div class="card">
            <div class="card-header">
                
            </div>
            <div class="card-body">
                <h3 class="card-title text-center">Add a New Post</h3>
                <h2 class="card-title"></h2>
                <form class="form" id="form-post">
                 
                    <div class="mb-3">
                      <label for="post-title" class="form-label">Title</label>
                      <input type="text" class="form-control" id="post-title" >                      
                    </div>                   
                    <div class="mb-3">
                      <label for="post-text" class="form-label">Post Description</label>
                      <textarea type="textarea" class="form-control" id="post-text"></textarea>
                    </div>
                    <div class="gap-2 col-3 mx-auto">
                        <button class="btn-lg btn-primary" id="new-post" type="submit">Create New Post</button>
                    </div> 
                </form>
            </div>
          </div>
        </div>

        <script src="/js/post.js"></script>