<div class="card">
    <div class="card-header">                
    </div>
        <div class="card-body">   
            <h3 class="card-title text-center">Update Post</h3>             
            <form class="form" id="form-login">
                <span id="span" data-id="{{id}}" >
                <div class="mb-3">
                    <label for="post-title" class="form-label">Title</label>
                    <textarea type="textarea" class="form-control" id="post-title">{{title}} </textarea>   
                </div> 
                <div class="mb-3">
                    <label for="post-text" class="form-label">Post Description</label>
                    <textarea type="textarea" class="form-control" id="post-text">{{description}}</textarea>
                </div>
                <div class="gap-2 text-center">
                    <button class="btn-lg btn-primary" id="update-post"  type="submit">Update</button>
                </div>                      
            <form>
        </div>
</div>
<div class="card text-center my-4 gap-2">
    <div class="card-header"></div>             
            
    <div class="card-body">
        <h4 class="card-title">Remove Post</h4>              
       
         <button class="btn-lg btn-danger" id="delete-post"  type="submit">Delete</button>
       
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

 <script src="/js/editPost.js"></script>