      
    
    
          <div class="card">
            <div class="card-header">                
            </div>
            <div class="card-body">   
                <h3 class="card-title text-center">Login</h3>             
                <form class="form" id="form-login">
                    <div class="mb-3">
                      <label for="user-email" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="user-email">
                    
                    </div>
                    <div class="mb-3">
                      <label for="user-password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="user-password">
                    </div>
                    <div class="gap-2 text-center">
                        <button class="btn-lg btn-primary" id="login"  type="submit">Login</button>
                    </div>        
                </form>
            </div>
          </div>

          <div class="card text-center my-4 gap-2">
            <div class="card-header">
              
            </div>
            <div class="card-body">
              <h5 class="card-title">Sign-up Instead</h5>              
              <a href="/signUp" class="btn-lg btn-primary">Sign-up</a>
              <br>
              <br>
              <p class="card-text">Sign-up to view and post blogs</p>
            </div>
            <div class="card-footer text-muted">
              
            </div>
        </div>
       
     <script src="./js/login.js"></script>