
        <div>
          <div class="card">
            <div class="card-header">
                
            </div>
            <div class="card-body">
                <h2 class="card-title text-center">Sign-up</h2>
               
                <form class="form" id="form-signUp">
                    <div class="mb-3">
                      <label for="user-name" class="form-label">User name</label>
                      <input type="text" class="form-control" id="user-name" >
                      
                    </div>
                    <div class="mb-3">
                      <label for="user-email" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="user-email">
                      
                    </div>
                    <div class="mb-3">
                      <label for="user-password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="user-password">
                    </div>
                    <div class="gap-2 col-3 mx-auto">
                        <button class="btn-lg btn-primary" id="sign-up" type="submit">Submit</button>
                    </div> 
                </form>
            </div>
          </div>
        </div>

        <script src="./js/signUp.js"></script>